<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          ng-click="dialog.cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{dialog.title}}</h4>
      </div>
      <div class="modal-body">
        <form>
          <!-- Parameters -->
          <div class="form-group has-feedback"> <!-- name -->
            <!-- any not empty string -->
            <input type="text" class="form-control input-lg text-center"
              placeholder="Name" ng-model="dialog.name">
            <span class="glyphicon form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback"> <!-- age -->
            <!-- only positive integers and zero -->
            <input type="text" class="form-control input-lg text-center"
              placeholder="Age" ng-model="dialog.age" pattern="^(0|[1-9]\d*)$">
            <span class="glyphicon form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback"> <!-- breed -->
            <!-- any not empty string -->
            <input type="text" class="form-control input-lg text-center"
              placeholder="Breed" ng-model="dialog.breed">
            <span class="glyphicon form-control-feedback"></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- Submit form to create new dog -->
        <button type="button" class="btn btn-primary"
          ng-click="dialog.close()">Ok</button>
        <button type="button" class="btn"
          ng-click="dialog.cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
