<div class="text-center">
  <!-- Header -->
  <h3>This is our dogs</h3>
  <!-- Open add dog dialog -->
  <button type="button" class="btn btn-default btn-lg" ng-click="dogs.openDialog()">
    <span class="glyphicon glyphicon-plus"></span> Add
  </button>
</div>
<!--
  Arrange grid:
  1) 2 columns per element on large screens (total 6)
  2) 3 columns per element on medium screens (total 4)
  3) 4 columns per element on small screens (total 3)
  3) 6 columns per element on extra small screens (total 2)
-->
<!-- create carousel with custom template -->
<div uib-carousel active="active" no-wrap="true">
  <!-- track pages by $index -->
  <div uib-slide ng-repeat="page in dogs.pages track by $index" index="$index">
    <!-- my-fade implements simple animation on add/delete item -->
    <div class="my-fade col-lg-2 col-md-3 col-sm-4 col-xs-6 thumb" ng-repeat="dog in page">
      <!-- cursor as pointer and no border on thumbnail -->
      <a class="thumbnail my-no-border my-cursor-pointer">
        <!-- my-wrapper div is fixed 150x150px, same as placeholder image -->
        <div class="my-wrapper center-block text-center">
          <img class="img-responsive" src="http://placehold.it/150x150">
          <!-- glyphicon-remove is placed in top-right corner -->
          <span class="glyphicon glyphicon-remove"
            ng-click="dogs.delete(dog._id)"></span>
        </div>
        <div class="text-center my-no-user-select">
          {{dog.name}}
        </div>
      </a>
    </div>
  </div>
</div>
