<div class="row">
  <div class="col-md-8">
    <div class="my-info-card">
      <!-- close info button, return to dogs list view -->
      <a ui-sref="dogs"><b>Close</b></span></a>
      <!-- dogs params -->
      <h2><b>Name:</b>
        <span ng-click="dog.startEdit('name')"
          ng-hide="dog.edit.name">{{dog.name}}</span>
        <input type="text" ng-blur="dog.submit('name')"
          ng-model="dog.name" ng-show="dog.edit.name">
      </h2>
      <div>
        <h3><b>Age:</b>
          <span ng-click="dog.startEdit('age')"
            ng-hide="dog.edit.age">{{dog.age}}</span>
          <input type="text" ng-blur="dog.submit('age')"
            ng-model="dog.age" ng-show="dog.edit.age">
        </h3>
        <h3><b>Breed:</b>
          <span ng-click="dog.startEdit('breed')"
            ng-hide="dog.edit.breed">{{dog.breed}}</span>
          <input type="text" ng-blur="dog.submit('breed')"
            ng-model="dog.breed" ng-show="dog.edit.breed">
        </h3>
      </div>
      <hr> <!-- add separator -->
      <div>
        <h5><b>Description</b></h5>
        <div>
          <i>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </i>
        </div>
      </div>
    </div>
  </div>
  <!-- picture of dog -->
  <div class="col-md-4">
    <!-- place image in center of the div -->
    <img class="img-responsive center-block" src="http://placehold.it/300x300">
  </div>
</div>
