.carousel {
  /* rewrite uib-carousel style and place it a little bit lower */
  margin-top: 1em;
}
.my-cursor-pointer {
  cursor: pointer;
}
.my-no-border {
  border: 0px;
}
.my-no-user-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}
.my-wrapper {
  /* fixed width and height equals to image placeholder*/
  width: 150px;
  height: 150px;
}
.my-wrapper .glyphicon-remove {
  position: relative;
  /* place glyphicon on top-right corner of my-wrapper */
  top: -145px;
  right: -63px;
  /* get rid of underline on hover parent */
  display: inline-block;
}
.my-wrapper .glyphicon-remove:hover {
  /* slight orange color */
  color: #ddb352;
}
