/* Carousel */
/* rewrite uib-carousel style */
.carousel {
  /* place it a little bit lower */
  margin-top: 1em;
}
.carousel-control.left, .carousel-control.right {
  /* remove semi-transparent background */
  background-image: none !important;
}
a.right.carousel-control {
  /* move right arrow a little bit to the right */
  right: -2%;
  width: 30px; /* make it narrower */
  color: grey;
}
a.left.carousel-control {
  /* left arrow a little bit to the left */
  left: -2%;
  width: 30px; /* make it narrower */
  color: grey;
}
ol.carousel-indicators {
  /* move indicators lower */
  position: absolute !important;
  bottom: -15px;
}
ol.carousel-indicators li {
  /* inner color */
  background-color: white;
  /* circle border */
  border: 1px solid grey;
}
ol.carousel-indicators li.active {
  /* indicator of active slide */
  background-color: grey;
}
/* My style */
.my-cursor-pointer {
  cursor: pointer;
}
.my-no-border {
  border: 0px;
}
.my-no-user-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}
.my-wrapper {
  /* fixed width and height equals to image placeholder*/
  width: 150px;
  height: 150px;
}
.my-wrapper .glyphicon-remove {
  position: relative;
  /* place glyphicon on top-right corner of my-wrapper */
  top: -145px;
  right: -63px;
  /* get rid of underline on hover parent */
  display: inline-block;
}
.my-wrapper .glyphicon-remove:hover {
  /* slight orange color */
  color: #ddb352;
}
/* Animation */
.my-fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}
.my-fade.ng-enter {
  opacity: 0;
}
.my-fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.my-fade.ng-leave {
  opacity: 1;
}
.my-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
