.my-overflow-x {
  overflow-x: hidden;
}
.my-cursor-pointer {
  cursor: pointer;
}
.my-no-border {
  border: 0px;
}
.my-no-user-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}
.my-thumbnail {
  height: 150px;
}
.my-center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* Animation */
/* slide out to the left */
@keyframes slideOutLeft {
  to { transform: translateX(-40%); opacity: 0; }
}
/* slide in from the right */
@keyframes slideInRight {
  from { transform: translateX(40%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
/* slide out to the right */
@keyframes slideOutRight {
  to { transform: translateX(40%); opacity: 0; }
}
/* slide in from the left */
@keyframes slideInLeft {
  from { transform: translateX(-40%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
/* on show */
.my-fade {
  animation: slideInLeft 0.5s both ease-in;
}
/* on hide */
.my-fade.ng-hide {
  animation: slideOutRight 0.5s both ease-in;
}
